main {
  .blackb {
    background-color: black;
    border: 1px solid rgb(0, 0, 0);

    .cropb {
      background-color: rgb(0, 0, 0);
      margin-left: 10%;
      margin-top: 4%;
      margin-right: 5%;
      margin-bottom: 2%;
      max-width: 80%;

      .titleb {
        background-color: rgb(255, 255, 255);
        margin-right: 50%;
        height: 12%;
        display: flex;
        align-items: center;
        border: 0.1px solid #777;
        .catt {
          padding-left: 5%;
          font-size: 2rem;
          color: var(--primary);
        }
      }
      .filterb {
        background-color: rgb(255, 255, 255);
        margin-top: 1%;
        height: 6%;
      }
      .moviesb {
        margin-top: 3%;
        padding-bottom: 5%;
      }
    }
  }
}

h2 {
  font-family: lato;
  font-weight: bold;
  display: flex;
  text-align: left;
}
h3 {
  font-family: lato;
  font-weight: bold;
  display: flex;
  text-align: left;
  color: #666666;
}

/* 353,16 hei all
183,3 hei poster */

.parent {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 1%;
  grid-row-gap: 2.5%;
  width: 100%;
}

.mobox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
}

.poster {
  width: 100%;
  height: 51.9%;
}
.info-rect {
  width: 100%;
}
.info-rect:nth-child(2) {
  font-size: 1em;
  padding: 7%;
}

.info-rect:nth-child(3) {
  font-size: 1em;
  font-weight: bold;
  /* letter-spacing: 8px; */
  padding-left: 5%;
  padding-right: 5%;
  color: #666666;
}

.info-rect:nth-child(4) {
  font-size: 1em;
  padding-left: 5%;
  padding-right: 5%;
}

.info-rect:nth-child(5) {
  font-size: 0.6em;
  padding: 5%;
  bottom: 10px;
}

.info-rect:nth-child(6) {
  padding: 5%;
}

.info-rect-fill-1 {
  font-size: 1em;
  padding: 5%;
}

.poster-foto {
  width: 100%;
}

#filmsButton {
  width: fit-content;

  #innerButton {
    background-color: var(--primary);
    width: fit-content;
    padding: 2%;

    p {
      color: white;
      font-size: 1em;
    }
  }

  &:hover {
    #innerButton {
      background-color: #2137aa;
    }
  }
}

/* .info-rect-fill-1 {
  font-size: 1em;
  padding: 5%;
}
.info-rect-fill-2 {
  font-size: 1em;
  letter-spacing: 10px;
  padding: 5%;
  color: yellow;
}
.info-rect-fill-3 {
  font-size: 0.8em;
  padding: 5%;
}
.info-rect-fill-4 {
  font-size: 0.6em;
  padding: 5%;
}
.info-rect-fill-5 {
  padding: 5%;
} */
