.film-title {
    background-color: green;
    color: var(--primary);

    width: 90%;
    height: 50px;

    margin-top: 5%;
    margin-left: 5%;
    padding: 1%;
    
    display: flex;
    align-items: center;

    font-size: xx-large;
    font-weight: bold;
}

.info {
    /* background-color: white; */

    width: 90%;
    height: 700px;

    margin-top: 3%;
    margin-left: 5%;

    display: flex;

    gap: 1%;

    .left {
        background-color: yellow;

        width: 38.5%;
        height: 600px;

        .poster {
            width: 100%;
            height: 600px;
        }
    }

    .right {
        background-color: white;

        width: 62.5%;
        height: 600px;

        padding-top: 25px;
        padding-left: 50px;

        .beoordeling {
            width: fit-content;
            height: 50px;
        }

        .kijkwijzers {
            width: fit-content;
            height: 50px;

            margin-top: 25px;


            padding-left: 5px;

            .kijkwijzer {
                width: 40px;
                height: 40px;
                margin-right: 1px;
            }
        }
        .release {
            color: #666666;

            width: fit-content;
            height: fit-content;

            margin-top: 10px;

            font-size: x-large;
        }
        .beschrijfing {
            color: #666666;

            width: 90%;
            height: fit-content;

            margin-top: 10px;
        }
        .film-info {
            color: #666666;

            width: 90%;
            height: fit-content;

            margin-top: 10px;

            font-size: large;
        }
        .acteurs {
            color: #666666;

            width: 90%;
            height: fit-content;

            display: flex;

            margin-top: 10px;

            .persoon {
                width: 110px;
                height: fit-content;

                margin-right: 10px;
            }
        }
    }
}

.koop-je-tickets {

}

.trailer {
    
}