footer {
    #top {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        #left {
            width: 77.5%;
            display: flex;

            #info {
                height: 100%;
                margin-right: 3%;

                #footerButtonA {
                    #footerButton {
                        margin-top: 3%;
                        padding: 2% 4%;
                        background-color: #FFFFFF;
                        width: fit-content;

                        p {
                            color: var(--footerBackground);
                        }

                        &:hover {
                            background-color: var(--primary);

                            p {
                                color: #FFFFFF;
                            }
                        }
                    }
                }

                img {
                    width: 60%;
                }
            }

            #navigation {
                height: 100%;
                margin-right: 3%;

                #footerNav {
                    margin-top: 10%;

                    .footerNavItem {
                        margin-top: 1%;
                        padding: 1% 0;

                        p {
                            color: #FFFFFF;
                        }

                        &:hover {
                            p {
                                color: var(--primary);
                            }
                        }
                    }
                }
            }

            #socials {
                height: 100%;

                #footerSocialIcons {
                    margin-top: 8%;
                    display: flex;
                    justify-content: space-between;

                    .social {
                        aspect-ratio: 1/1;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        max-width: 3vw;
                        margin-right: 5%;

                        img {
                            aspect-ratio: 1/1;
                            width: 85%;
                            transition: .5s ease;
                        }

                        &:hover {
                            img {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }

        #right {
            width: 12.5%;
            display: flex;
            justify-content: flex-end;

            img {
                width: 95%;
            }
        }
    }

    #bottom {
        background: var(--background);
        display: flex;
        justify-content: center;
        align-items: center;

        #content {
            width: 80%;
            padding: 1% 0;

            display: flex;
            justify-content: space-between;
            align-items: center;

            a {
                color: #FFFFFF;

                &:hover {
                    color: var(--primary);
                }
            }

            .poweredByText {
                color: var(--primary);
            }
        }
    }
}