:root {
    --background: #000000;
    --headerBackground: #FFFFFF;
    --footerBackground: #666666;

    --primary: #0080FF;
    --secondary: #52a9ff;
    --tertiary: #00458a;
    --quaternary: #3b0075;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: lato;
}

h1 {
    font-family: lato;
    font-weight: bold;
}

h2 {
    font-family: lato;
}

h3 {
    font-family: lato;
    font-weight: bold;
}

p {
    font-family: lato;
}

::-webkit-scrollbar {
    background-color: #FFFFFF;
    width: 10px;
    padding: 0 1%;
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary);
}

body {
    width: 100%;

    a {
        text-decoration: none;
    }

    header {
        background-color: var(--headerBackground);
    }

    main {
        background-color: var(--background);
        color: #FFFFFF;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding-top: 5%;

        #content {
            width: 80%;
            padding: 1%;
        }
    }

    footer {
        background-color: var(--footerBackground);
        color: #FFFFFF;
    }
}